body {
  color: black;
  font-family: "Georgia", serif;
  background-color: #F0F8FF
}
h1 {
  display: flex;
  justify-content: center;
}
img {height: 300px;
width: 200px
display: flex;
flex-wrap: wrap;
padding: 5px;
}
h1 {
  justify-content: center;
}
.row{
  display: flex;
  justify-content: space-around;
}
.firstheader {
font-weight: bold;
margin-left: 55px;
}
.secondheader{
  font-weight: bold;
  margin-left: 55px;
}
.thirdheader {
  font-weight: bold;
  margin-left: 55px;
}
.fourthheader{
  font-weight: bold;
  margin-left: 55px;
}
.fifthheader{
  font-weight: bold;
  margin-left: 55px;
}
