body {
  color: black;
  font-family: "Georgia", serif;
  background-color: #F0F8FF
}
h1 {
  display: flex;
  justify-content: center;
}
img {height: 300px;
width: 200px
display: flex;
flex-wrap: wrap;
padding: 5px;
}
h1 {
  justify-content: center;
}
.row{
  display: flex;
  justify-content: space-around;
}
